# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# IMPORTANT!!!!
# If you want to create/use tests you must create additional .env file: '.env.test'
# Structure there is the same, but you must create additional database. DB must contain 'test' word e.g. myappdb_test
# And of course it must be hosted locally :D

DATABASE_URL="DB_URL_HERE"
NEXTAUTH_URL="WEB APP URL"
NEXTAUTH_SECRET="SECRET"